.info-card{
	border: solid 1px black;
	padding: 5px;
}

.info-card-improved{
	border: solid 2px red;
	padding: 5px;
}

.isolated-directive-value{
	border: solid 2px yellow;
	padding: 5px;
}

.tab{
	border: solid 2px orange;
	margin-bottom: 10px;
	padding: 10px;
}

.header{
	padding: 10px;
	border: solid 1px gray;
}

.body{
	padding: 10px;
	border: solid 1px gray;
}